@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    font-family: roboto;
}

#header {
    background-color: #ffffff;
}

#wrapper {
    background-color: #fafafa;
    min-height: 100%;
    height: auto !important;
    margin-bottom: -3em; /* the bottom margin is the negative value of the footer's total height */
}

    #wrapper:after {
        content: "";
        display: block;
        height: 3em; /* the footer's total height */
    }

#content {
    height: 100%;
}

#footer {
    height: 3em; /* the footer's total height */
    margin-bottom: -1px;
}

#footerContent {
    background-color: #18325b;
    border: none;
    height: 3em; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 0em;
    
}

.divCard {
    width: 90%;
    height: 20%;
    padding: 1em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}

.cardTable {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

img.logo {
    width: 230px;
    height: 150px;
    margin-left: 2em;
}

img.page {
    width: 98%;
    height: 70%;
    margin: auto;
    border-style: solid;
    border-color: #fafafa;
}

h3.pageMessage {
    text-align: center;
    color: #878f9b;
}

h5.loginInfo {
    text-align: right;
    margin-right: 4em;
    font-size: 120%
}

div.horizontalBar {
    background-color: #18325b;
    padding: 0px;
    margin: auto;
    margin-left: 0px;
    width: 100%;
    height: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}