<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carruth.finalproject">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dr_vinyl"
        android:label="Dr. Vinyl"
        android:roundIcon="@mipmap/dr_vinyl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/create_account_button"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CreateNewPasswordActivity"
            android:label="@string/forget_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ServiceActivity"
            android:label="Services"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalanderActivity"
            android:label="Choose a Date"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseTimeActivity"
            android:label="Choose a Time"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmActivity"
            android:label="Confirm Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAccountActivity"
            android:label="Edit Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAppointmentActivity"
            android:label="Edit Appointment"
            android:screenOrientation="portrait" />
        <activity android:name=".CameraActivity"
            android:label="Picture"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>